<%= form_with(model: pets_list) do |form| %>
  <% if pets_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pets_list.errors.count, "error") %> prohibited this pets_list from being saved:</h2>

      <ul>
        <% pets_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :specie %>
    <%= form.text_field :specie %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :pet_name %>
    <%= form.text_field :pet_name %>
  </div>

  <div class="field">
    <%= form.label :owned_date %>
    <%= form.text_field :owned_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
