<%= form_with(model: pets_list) do |form| %>
  <% if pets_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pets_list.errors.count, "error") %> prohibited this pets_list from being saved:</h2>

      <ul>
        <% pets_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formClass">
    <%= form.text_field :specie, placeholder:"Type of Specie", class:"inputForm" %>
    <br/>
    <%= form.text_field :owner, placeholder:"Name of Owner", class:"inputForm" %>
    <br/>
    <%= form.text_field :pet_name, placeholder:"Name of Pet", class:"inputForm" %>
    <br/>
    <%= form.text_field :owned_date, placeholder:"Date of purchase(mm/dd/yy)", class:"inputForm" %>
    <div class="actions">
      <%= form.submit class:"actionButton" %>
    </div>
  </div>
<% end %>
