<!DOCTYPE html>
<html>
  <head>
    <title>Counterruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navebar">
      Welcome to a lable list...
      <h1>Pet List</h1>
    </div>
    <%= yield %>
  </body>
</html>
